html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-image: url(imgs/1920/blur.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #F3F3F3;
}
@media (max-width: 1279.98px) {
  .wrap {
    background-image: url(imgs/1280/blur.svg);
  }
}
@media (max-width: 991.98px) {
  .wrap {
    background-image: url(imgs/992/blur.svg);
  }
}
@media (max-width: 575.98px) {
  .wrap {
    background-image: url(imgs/576/blur.svg);
  }
}

.glasses {
  width: 773px;
  height: 434px;
  background: url("imgs/glass.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 400px;
}
@media (max-width: 1279.98px) {
  .glasses {
    top: 200px;
    left: 200px;
  }
}
@media (max-width: 991.98px) {
  .glasses {
    top: 150px;
    left: 150px;
    width: 621px;
    height: 349px;
  }
}
@media (max-width: 575.98px) {
  .glasses {
    width: 328px;
    height: 184px;
    top: 50px;
    left: 20px;
  }
}

.lens {
  width: 225px;
  height: 160px;
  background-image: url(imgs/1920/unblur.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
@media (max-width: 1279.98px) {
  .lens {
    background-image: url(imgs/1280/unblur.svg);
  }
}
@media (max-width: 991.98px) {
  .lens {
    background-image: url(imgs/992/unblur.svg);
    width: 190px;
    height: 140px;
  }
}
@media (max-width: 575.98px) {
  .lens {
    background-image: url(imgs/576/unblur.svg);
    width: 110px;
    height: 80px;
  }
}
.lens:nth-child(1) {
  -webkit-clip-path: url(#lens-1);
          clip-path: url(#lens-1);
  position: absolute;
  left: 122px;
  top: 110px;
}
@media (max-width: 991.98px) {
  .lens:nth-child(1) {
    -webkit-clip-path: url(#lens-1-992);
            clip-path: url(#lens-1-992);
    left: 91px;
    top: 85px;
  }
}
@media (max-width: 575.98px) {
  .lens:nth-child(1) {
    -webkit-clip-path: url(#lens-1-576);
            clip-path: url(#lens-1-576);
    left: 42px;
    top: 38px;
  }
}
.lens:nth-child(2) {
  -webkit-clip-path: url(#lens-2);
          clip-path: url(#lens-2);
  position: absolute;
  left: 394px;
  top: 28px;
}
@media (max-width: 991.98px) {
  .lens:nth-child(2) {
    -webkit-clip-path: url(#lens-2-992);
            clip-path: url(#lens-2-992);
    left: 315px;
    top: 16px;
  }
}
@media (max-width: 575.98px) {
  .lens:nth-child(2) {
    -webkit-clip-path: url(#lens-2-576);
            clip-path: url(#lens-2-576);
    left: 166px;
    top: 8px;
  }
}